body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  margin: 0;
}

.image-header {
  background-image: url(../imagens/bg-3.jpg);
  height: 500px;
  
}

.div-titulo {
  text-align: center;
  color: azure;
}